<launch>
  <param name="use_sim_time" value="true"/>

  <!--group ns="detect_locate_and_track">
    <rosparam file="$(find depth_image_extractor)/config/object_detection.yaml"/>
    <rosparam file="$(find depth_image_extractor)/config/pose_estimator.yaml"/>
    <rosparam file="$(find depth_image_extractor)/config/global_tracker.yaml"/>
  </group-->
  <node pkg="tf" type="static_transform_publisher" name="optitrack_to_camera" args="-0.03477 -0.00899 0.04995 0.26832496  0.21476856 -0.66167538  0.66637968 d435i base_link 10" />

  <node name="detect_locate_and_track" pkg="depth_image_extractor" type="detect_locate_and_in_image_tracking_node" output="screen">
    <param name="path_to_engine" type="string" value="/home/antoine/Documents/Sesame/Detection/Networks/yolov5/runs/train/model_xavier/weights/last.engine"/>
  </node>
</launch>