<launch>
  <param name="use_sim_time" value="true"/>

  <group ns="detect_and_locate">
    <rosparam file="$(find detect_and_track)/config/object_detection.yaml"/>
    <rosparam file="$(find detect_and_track)/config/pose_estimator.yaml"/>
  </group>
  <node name="detect_and_locate" pkg="detect_and_track" type="detect_and_locate_node" output="screen">
  </node>
</launch>